.movieContainer {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.moviePoster {
    width: 400px;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.movieTitle {
    font-size: 2em;
    margin-bottom: 20px;
}

.movieDescription {
    font-size: 1em;
    line-height: 1.6;
}

.videoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 1000px;
    margin: 0 auto;
}

.videoBlock {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 1000px;
    margin: 20px;
    text-align: center;
}

.videoTitle {
    font-size: 2em;
    padding: 5px 0;
    background-color: #4CAF50;
}

.video-content {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.genreBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}